<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Charts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon-precomposed" href="http://static.ftchinese.com/img/ipad_icon.png" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta name="google-signin-client_id" content="911260228291-d2b7cjs7c0ajobjd6l89133tv4bmrcjb.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">

    <link rel="stylesheet" href="styles/main.css">

  </head>

  <body>
    <p align=right>
      <!-- The Sign-in button. This will run `queryReports()` on success. -->
      <div class="g-signin2" data-onsuccess="queryDifferentReports"></div>
    </p>

    <div class="page-container" id="charts-container">
      <h1 class="page-title">Engagement</h1>
    </div>

    {% block content %}
    {% endblock%}

    <script src="/static/storyTable.js"></script>
    <!-- Load the JavaScript API client and Sign-in library. -->
    <script>
    console.log(myLibrary.clickFunc);
    </script>
    <script src="https://apis.google.com/js/client:platform.js"></script>

  </body>
</html>