@import "./responsetool.scss";

$ftc-table-is-silent:false;
@import "@ftchinese/ftc-table/main.scss";

$ftc-header-is-silent: false;
@import "@ftchinese/ftc-header/main.scss";


@import "./form.scss";

$defaultPink: #FFF1E0;
$borderColor: #cec6b9;
$bannerBG: #F6E9D8;
$darkTint: #e9decf;
$sideBorderColor: #A7A59B;
$footerBorder: #777;
$whiteColor: #FFF;
$headerTint: #333;
$headerTintLight: #505050;
$darkGreen: #27757b;
$fontColor: #333;
$lightFontColor: #505050;
$titleColor: #000;
$highlightColor: #9E2F50;


// tints
$lightPink: $bannerBG;

// colors
$darkGrey: #333333;
$lightGrey: #505050;
$lighterGrey: #777;
$timeGrey: #8b572a;
$red: #9E2F50;
$blue: #2e6e9e;
$blueBG: #275c85;
$overlayTitleColor: #918F83;
$opaque: rgba(0,0,0,0.7);
$correct: #458b00;
$wrong: #c00;

// width, height and padding
$defaultPadding: 30px;
$textPadding: 5px;
$maxAdWidth: 1200px;
$maxWidth: 2*$defaultPadding + $maxAdWidth;
$maxAdWidthIE: $maxAdWidth;
$maxWidthIE: 2*$defaultPadding + $maxAdWidthIE;
$maxWidthL: 969px;
$mastheadHeight: 36px;
$headerHeight: 57px;//$mastheadHeight*1.4;
$headerContainerHeight: 57px;
$navHeight: 44px;
$buttonHeight: 36px;
$subNavHeight: 30px;
$iconWidth: 24px;
$headshotWidth: 60px;

$listTitleHeight: 20px;
$bannerHeight: 90px;
$sideInnerWidth: 300px;
$sideWidth: 2*$defaultPadding + $sideInnerWidth;
$beltHeight: 30px;

//ratios
$goldenRatio: 161.8%;
$figureHeight: 56.25%;
$figureHeightPortrait: 133.3333333333%;
$portraitRatio: $goldenRatio;

body,html {
  margin:0;
  padding: 0;
}
body {
    background: #FFF1E0;
    color: #333333;
    cursor: auto;
    font-style: normal;
    font-weight: 400;
}

div {
  line-height: $goldenRatio;
}


.signin-btn {
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  margin: 30px 0;
  padding: 0 10px;
  position: relative;
  z-index: -10;
  @include oGridRespondTo($until:L) {
    margin-top: 74px;
  }
}
.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.page-title {
  font-size:20px;
  font-weight:bold;
  padding:14px 0;
}
.page-description {
  margin-bottom: 1em;
}
.question-description {
  color: #777;
}
img {
  max-width: 100%;
}
.chart-title {
  font-size: 18px;
  font-weight: bold;
  padding:14px;
}


.abcRioButton {
  float:right;
}

.ftc-table .ftc-table__caption--top {
  margin-bottom:0px;//TODO:修改ftc-table
}
