{% extends "base.html" %}
{% block content %}
<div class="page-container">
  <div class="page-description">
    <p>Top 30 request ads for the last 7 days</p>
  </div>


  <table id="adMonitorIndex" class="ftc-table ftc-table--responsive-overflow ftc-table--row-stripes ftc-table--vertical-lines" data-ftc-component="ftc-table" data-ftc-table--no-js data-ftc-table--statistic >
    <caption class=ftc-table__caption--top>
      Top 30 request ads for the last 7 days
    </caption>
   <thead></thead>
   <tbody></tbody>
  </table>

</div>

{% endblock %}