{% extends "base.html" %}
{% block content %}
<div class="page-container">
  <div class="page-description">
    
    <p>The user conversion pyramids for 3 ends and for all: </p>

  </div>

  <div class="item">
    <div class="chart" id="allPyramid">
    </div>
  </div>

  <div class="item">
    <div class="chart" id="iphoneAppPyramid">
    </div>
    <p class="moreinfo"><a>More info about user conversion on iphoneApp...</a></p>
  </div>

  <div class="item">
    <div class="chart" id="androidAppPyramid">
    </div>
    <p class="moreinfo"><a>More info about user conversion on androidApp...</a></p>
  </div>

  <div class="item">
    <div class="chart" id="webPyramid">
    </div>
    <p class="moreinfo"><a>More info about user conversion on web...</a></p>
  </div>

  

</div>

{% endblock %}